<section class="container d-grid justify-content-center mt-4">
    <div class="card mb-3 overflow-hidden rounded-card">
        <div class="row g-0">
            <div class="col-12 col-lg-6">
                <div class="card-body h-100 d-grid justify-content-start px-5 py-5">
                    <h1 class="card-title fw-bold text-primary">“This app is changing
                        the game on getting social proof and making it so effortless.”</h1>
                    <p class="card-text fs-5 text-secondary">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                    </p>

                    <ul class="tick-list">
                        <li class="mb-2">Import testimonials from over 30 platforms</li>
                        <li class="mb-2">Collect text & video testimonials on autopilot</li>
                        <li class="mb-2">Showcase proof on your site, emails, & socials</li>
                    </ul>

                    <div class="btn btn-primary p-3 px-4 fw-bold fs-4 border border-3 mt-auto me-auto"
                        style="border-radius: 1rem;">
                        Start For Free Today
                    </div>
                    <div class="d-flex align-items-center mt-2">
                        <div class="d-flex">
                            <div class="bg-dark rounded-circle border border-2" style="width: 40px; height: 40px;">
                            </div>
                            <div class="bg-dark rounded-circle border border-2"
                                style="width: 40px; height: 40px; margin-left: -1rem;"></div>
                            <div class="bg-dark rounded-circle border border-2"
                                style="width: 40px; height: 40px; margin-left: -1rem;"></div>
                            <div class="bg-dark rounded-circle border border-2"
                                style="width: 40px; height: 40px; margin-left: -1rem;"></div>
                            <div class="bg-dark rounded-circle border border-2"
                                style="width: 40px; height: 40px; margin-left: -1rem;"></div>
                        </div>
                        <div class="ms-2">
                            <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                            <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                            <div class="text-muted">loved by 20,000+ customers</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src="/images/card-thumbnails/1.avif" alt="Card title" class="w-100" />
            </div>
        </div>
    </div>
</section>