<!-- footer area start -->
<footer class="footer-area container-fluid bg-light pt-3">
    <div class="row ps-2 mx-auto container">
        <ul class="col footer-menu">
            <h5>Menu1</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <h5>Menu1</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <h5>Menu1</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
        </ul>
        <ul class="col footer-menu">
            <h5>Menu2</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
        </ul>
        <ul class="col footer-menu">
            <h5>Menu3</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <h5>Menu3</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
        </ul>
        <ul class="col footer-menu">
            <h5>Menu4</h5>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="use-cases.html">Use Cases</a></li>
        </ul>
    </div>

    <p class="m-0 mt-2 text-center">Follow Us on</p>
    <div class="d-flex justify-content-center" style="gap: 1rem;">
        <a href="https://www.facebook.com/ai4chat" class="text-decoration-none" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/ai4chat" class="text-decoration-none" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/ai4chat" class="text-decoration-none" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.instagram.com/ai4chat" class="text-decoration-none" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="container-fluid py-4 text-center">
        &copy; 2024 | All Rights Reserved.
    </div>
</footer>

<style>
    .footer-menu {
        list-style-type: none;
        text-align: left;
    }

    .footer-menu a {
        color: gray;
    }

    .footer-menu h5 {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
</style>