<section class="container">
    <h1 class="text-center fw-bold">We know testimonials drive trust<br />
        <span class="text-primary">— here’s why people trust us</span>
    </h1>
    <div class="row text-nowrap justify-content-center mt-3" style="gap: 1rem;">
        <div class="card col-auto p-2 px-4">
            <p class="card-text">💖 All testimonials</p>
        </div>
        <div class="card col-auto p-2 px-4">
            <p class="card-text">📹️ Video testimonials</p>
        </div>
        <div class="card col-auto p-2 px-4">
            <p class="card-text">📚️ Love from Creators</p>
        </div>
        <div class="card col-auto p-2 px-4">
            <p class="card-text">🖥️ Love from SaaS</p>
        </div>
        <div class="card col-auto p-2 px-4">
            <p class="card-text">👔 Love from Agencies</p>
        </div>
        <div class="card col-auto p-2 px-4">
            <p class="card-text">♻️ People who switched</p>
        </div>
    </div>
    <div class="gallery mt-4">
        <div class="card px-0 text-start overflow-hidden" style="border-radius: 0.8rem;">
            <div>
                <img src="/images/card-thumbnails/4.webp" height="200" class="w-100" style="z-index: -1;" />
                <div style="position: absolute; top: 100px; background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7) 90%);"
                    class="ps-3 text-white w-100 pb-3">
                    <div class="mt-2">
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    </div>
                    <h4 class="fw-bold m-0">Ed Leake</h4>
                    <div>edleake.com</div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text my-2">
                    HUGE fan of the Senja product and team. Less than a month into implementing Senja and I've
                    already seen a tangible impact on revenue and conversion by sharing more social proof.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    I was so surprised how easily Senja could do what I hoped it to be able to that I subscribed
                    within the first hour and I'm gonna port it to my other company during the day 😅
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    We looked at several options to collect reviews from our customers, before settling on
                    Senja. What drew us to Senja was the great user interface and how easy the product was to
                    use.<br /><br />

                    The setup was incredibly simple. It took less than 5 minutes to get started with collecting
                    reviews. We were able to import existing reviews as well, which is such an important feature
                    to have.<br /><br />

                    Senja seems like a well thought-out product. I'm really happy that we've found Senja and
                    will absolutely be recommending the product to our audience.<br /><br />

                    If you're on the fence, sign up for a free trial and see how it works for you. Getting
                    reviews from your audience is a great dopamine hit. Don't miss out on that !
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    HUGE fan of the Senja product and team. Less than a month into implementing Senja and I've
                    already seen a tangible impact on revenue and conversion by sharing more social proof.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card px-0 text-start overflow-hidden" style="border-radius: 0.8rem;">
            <div>
                <img src="/images/card-thumbnails/4.webp" height="200" class="w-100" style="z-index: -1;" />
                <div style="position: absolute; top: 100px; background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7) 90%);"
                    class="ps-3 text-white w-100 pb-3">
                    <div class="mt-2">
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    </div>
                    <h4 class="fw-bold m-0">Ed Leake</h4>
                    <div>edleake.com</div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text my-2">
                    HUGE fan of the Senja product and team. Less than a month into implementing Senja and I've
                    already seen a tangible impact on revenue and conversion by sharing more social proof.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card px-0 text-start overflow-hidden" style="border-radius: 0.8rem;">
            <div>
                <img src="/images/card-thumbnails/4.webp" height="300" class="w-100" style="z-index: -1;" />
                <div style="position: absolute; top: 200px; background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7) 90%);"
                    class="ps-3 text-white w-100 pb-3">
                    <div class="mt-2">
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    </div>
                    <h4 class="fw-bold m-0">Ed Leake</h4>
                    <div>edleake.com</div>
                </div>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    HUGE fan of the Senja product and team. Less than a month into implementing Senja and I've
                    already seen a tangible impact on revenue and conversion by sharing more social proof.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    I was so surprised how easily Senja could do what I hoped it to be able to that I subscribed
                    within the first hour and I'm gonna port it to my other company during the day 😅
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    Do you know the sign of a good app/product? I didn't have to read any documentation...<br /><br />

                    I just jumped in and put Senja to work - that's how clean and clear the UX is.<br /><br />

                    It's a great testimonial gathering tool and reduces friction. I went from 0 to 30 reviews in a
                    matter of days. It's also very fairly priced.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card px-0 text-start overflow-hidden" style="border-radius: 0.8rem;">
            <div>
                <img src="/images/card-thumbnails/4.webp" height="300" class="w-100" style="z-index: -1;" />
                <div style="position: absolute; top: 200px; background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7) 90%);"
                    class="ps-3 text-white w-100 pb-3">
                    <div class="mt-2">
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    </div>
                    <h4 class="fw-bold m-0">Ed Leake</h4>
                    <div>edleake.com</div>
                </div>
            </div>
        </div>

        <div class="card px-0 text-start overflow-hidden" style="border-radius: 0.8rem;">
            <div>
                <img src="/images/card-thumbnails/4.webp" height="220" class="w-100" style="z-index: -1;" />
                <div style="position: absolute; top: 120px; background: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.7) 90%);"
                    class="ps-3 text-white w-100 pb-3">
                    <div class="mt-2">
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    </div>
                    <h4 class="fw-bold m-0">Ed Leake</h4>
                    <div>edleake.com</div>
                </div>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="card-text my-2">
                    I was so surprised how easily Senja could do what I hoped it to be able to that I subscribed
                    within the first hour and I'm gonna port it to my other company during the day 😅
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    Absolutely Senja's biggest fan. This app is changing the game on getting social proof and making it
                    so effortless on my side. An easy investment to make that's already made a huge difference in being
                    able to show the impact of my programs.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    I was so surprised how easily Senja could do what I hoped it to be able to that I subscribed
                    within the first hour and I'm gonna port it to my other company during the day 😅
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>

        <div class="card text-start">
            <div class="card-body">
                <div class="d-flex align-items-center me-auto">
                    <img class="bg-light border border-dark rounded-circle" width="40" height="40"
                        src="/images/profile-pics/1.avif" />
                    <div class="ms-2 lh-1">
                        <div class="fw-bold m-0">Ed Leake</div>
                        <div>edleake.com</div>
                    </div>
                </div>
                <div class="mt-2">
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                    <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                </div>
                <div class="card-text my-2">
                    So far the best testimonial platform I have found. And believe me, I've already tried a few. Fast
                    response to requests. Changes are implemented in real time while you wait. Flawless. I look forward
                    to the many exciting features to come.
                </div>
                <small class="text-muted">Jun 6, 2023</small>
            </div>
        </div>
</section>

<style>
    .gallery {
        columns: 3 250px;
        column-gap: 1rem;
        padding: 1rem;
    }

    .gallery .card {
        width: 100%;
        display: inline-block;
        margin-bottom: 1rem;
        break-inside: avoid;
        background: white;
        border-radius: 8px;
        /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    }

    @media (max-width: 1200px) {
        .gallery {
            columns: 2 250px;
        }
    }

    @media (max-width: 768px) {
        .gallery {
            columns: 1 250px;
        }
    }
</style>