<!-- header area start -->
<header class="navbar navbar-expand-md navbar-dark">
    <nav class="container">
        <a class="navbar-brand" href="index.html">
            <img src="/images/logo/2.png" alt="logo" width="60" height="60" class="rounded rounded-4">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto me-4" style="gap: 1rem;">
                <li class="nav-item">
                    <a class="nav-link" href="use-cases.html">Use Cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="features.html">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pricing.html">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tutorials.html">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                </li>
            </ul>
            <div class="button-area">
                <a href="https://app.ai4chat.co/register" class="btn btn-primary py-2 px-3 border border-0"
                    style="border-radius: 0.6rem;">Get
                    Started For Free</a>
            </div>
        </div>
    </nav>
</header>
<!-- header area end -->