<section class="container mt-5">
    <h1 class="fw-bold text-center"><span class="text-primary">Your all-in-one tool</span> for gathering and
        showcasing powerful social
        proof</h1>

    <div class="row mt-5 gy-4">
        <div class="col-12 col-lg-6">
            <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                <div class="card-body p-4 d-grid">
                    <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                        to get started with collecting reviews. We were able to import existing reviews as well,
                        which is such an important feature to have."</h4>
                    <div class="d-flex align-items-center mt-auto">
                        <img class="bg-light border border-dark rounded-circle" width="80" height="80"
                            src="/images/profile-pics/1.avif" />
                        <div class="ms-3">
                            <h4 class="fw-bold m-0">Ed Leake</h4>
                            <h4>edleake.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="text-primary fw-bold">Instant Setup</div>
            <h1 class="fw-bold">Get started in minutes</h1>
            <div class="row mt-3 gy-3">
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/1.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Customizable Forms</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/2.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Testimonial Import</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/3.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">No-Code Integration</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 gy-4">
        <div class="col-12 col-lg-6">
            <div class="text-primary fw-bold">Instant Setup</div>
            <h1 class="fw-bold">Get started in minutes</h1>
            <div class="row mt-3 gy-3">
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/1.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Customizable Forms</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/2.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Testimonial Import</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/3.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">No-Code Integration</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                <div class="card-body p-4 d-grid">
                    <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                        to get started with collecting reviews. We were able to import existing reviews as well,
                        which is such an important feature to have."</h4>
                    <div class="d-flex align-items-center mt-auto">
                        <img class="bg-light border border-dark rounded-circle" width="80" height="80"
                            src="/images/profile-pics/1.avif" />
                        <div class="ms-3">
                            <h4 class="fw-bold m-0">Ed Leake</h4>
                            <h4>edleake.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 gy-4">
        <div class="col-12 col-lg-6">
            <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                <div class="card-body p-4 d-grid">
                    <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                        to get started with collecting reviews. We were able to import existing reviews as well,
                        which is such an important feature to have."</h4>
                    <div class="d-flex align-items-center mt-auto">
                        <img class="bg-light border border-dark rounded-circle" width="80" height="80"
                            src="/images/profile-pics/1.avif" />
                        <div class="ms-3">
                            <h4 class="fw-bold m-0">Ed Leake</h4>
                            <h4>edleake.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="text-primary fw-bold">Instant Setup</div>
            <h1 class="fw-bold">Get started in minutes</h1>
            <div class="row mt-3 gy-3">
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/1.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Customizable Forms</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/2.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Testimonial Import</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/3.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">No-Code Integration</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/4.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">No-Code Integration</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 gy-4">
        <div class="col-12 col-lg-6">
            <div class="text-primary fw-bold">Instant Setup</div>
            <h1 class="fw-bold">Get started in minutes</h1>
            <div class="row mt-3 gy-3">
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/1.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Customizable Forms</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/2.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">Testimonial Import</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
                <div class="col-12 col-md-6">
                    <img width="70" height="70" src="/images/icons/3.svg" class="bg-light rounded-circle" />
                    <div class="fw-bold fs-4">No-Code Integration</div>
                    <div>Quickly whip up branded forms to collect video and text testimonials with just a few
                        clicks.</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                <div class="card-body p-4 d-grid">
                    <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                        to get started with collecting reviews. We were able to import existing reviews as well,
                        which is such an important feature to have."</h4>
                    <div class="d-flex align-items-center mt-auto">
                        <img class="bg-light border border-dark rounded-circle" width="80" height="80"
                            src="/images/profile-pics/1.avif" />
                        <div class="ms-3">
                            <h4 class="fw-bold m-0">Ed Leake</h4>
                            <h4>edleake.com</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>