<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/logo/2.png">
    <title>Brandscreen</title>
    <meta name="description"
        content="All your favorite chatbots under one roof, including ChatGPT, OpenAI GPT4, Google Bard. With multilingual support and mobile apps.">
    <meta name="robots" content="index, follow">

    <!-- FB meta tags -->
    <meta property="og:title" content="AI4Chat - All AI chatbots under one roof - ChatGPT, GPT4, Bard">
    <meta property="og:description"
        content="All your favorite chatbots under one roof, including ChatGPT, OpenAI GPT4, Google Bard. With multilingual support and mobile apps.">
    <meta property="og:image" content="https://i.postimg.cc/0NfzStnt/AI4Chat.png">
    <meta property="og:url" content="https://www.ai4chat.co">

    <!-- Twitter meta tags -->
    <meta name="twitter:title" content="AI4Chat - All AI chatbots under one roof - ChatGPT, GPT4, Bard">
    <meta name="twitter:description"
        content="All your favorite chatbots under one roof, including ChatGPT, OpenAI GPT4, Google Bard. With multilingual support and mobile apps.">
    <meta name="twitter:image" content="https://i.postimg.cc/0NfzStnt/AI4Chat.png">



    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="/css/plugins/fontawesome-6.css" as="style">
    <link rel="stylesheet preload" href="/css/plugins/unicons.css" as="style">
    <link rel="stylesheet preload" href="/css/vendor/bootstrap.min.css" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="/css/style.css" as="style">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="dark-version">

    {{> menubar}}

    <div class="bg"></div>
    
    {{> banner}}

    {{> recommendation-popup}}

    <section class="container mt-5">
        <h1 class="text-center text-white fw-bold">“It’s by far the best testimonial <br />collection tool on the
            market.”</h1>
        <div class="my-4 mb-5 d-grid justify-content-center">
            <img class="mx-auto rounded-circle" src="/images/profile-pics/1.avif"></img>
            <div class="text-center text-white">
                <div class="fw-bold">Bruno Hiis</div>
                <div>Founder, Featurebase</div>
            </div>
        </div>

        <div class="d-grid d-md-flex mt-3" style="gap: 1rem;">
            <div class="card w-100 w-md-50 rounded-card overflow-hidden border border-4"
                style="background-color: rgba(255,255,255,0.2);">
                <img class="card-img-top bg-light"
                    style="height: 300px; object-fit: cover; object-position: center center"
                    src="/images/card-thumbnails/2.webp"></img>
                <div class="card-body m-4 bg-white rounded">
                    <h3 class="card-title fw-bold">You Without Social Proof</h3>
                    <p class="card-text">
                    <ul class="cross-list px-3">
                        <li>Struggling to build trust</li>
                        <li>Sales trickle in</li>
                        <li>More effort to prove yourself</li>
                        <li>Blending in with other creators</li>
                        <li>Second-guessing yourself</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="card w-100 w-md-50 rounded-card overflow-hidden border border-4"
                style="background-color: rgba(255,255,255,0.2);">
                <img class="card-img-top bg-light"
                    style="height: 300px; object-fit: cover; object-position: center center"
                    src="/images/card-thumbnails/3.webp"></img>
                <div class="card-body m-4 bg-white rounded">
                    <h3 class="card-title fw-bold text-primary">You With Social Proof</h3>
                    <p class="card-text">

                    <ul class="tick-list tick-list-primary px-3">
                        <li>Customers trust you instantly</li>
                        <li>Products are selling like hotcakes</li>
                        <li>Your audience advocates for you</li>
                        <li>Stand out from competitors</li>
                        <li>Confidence in your content</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>







    <section class="container mt-5">
        <h1 class="text-center fw-bold">Show social proof<br /> <span class="text-primary">everywhere</span></h1>
        <p class="text-center fs-5 text-secondary w-50 mx-auto">For everything from social media to emails website
            toasters, you can turn your
            testimonials into conversion-optimizing assets displayed anywhere you want.</p>
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <div class="fw-bold text-primary">How it works</div>
                <h1 class="fw-bold">Start collecting & sharing testimonials <span class="text-primary">in a few easy
                        steps</span></h1>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card gradient-bg-primary border border-5" style="border-radius: 1rem;">
                    <div class="card-body text-white">
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>
                        <i class="fas fa-star" style="color: rgb(255, 196, 0);"></i>

                        <h4 class="card-title mt-2">I just jumped in and put Senja to work<br />
                            <span class="text-white-50">— that's how clean and clear the UX is.</span>
                        </h4>
                        <div class="d-flex align-items-center mt-2">
                            <img class="bg-light border border-dark rounded-circle" width="60" height="60"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <div class="fw-bold">Ed Leake</div>
                                <div>edleake.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 gy-4">
            <div class="card col-12 col-md-6 col-lg-3 border border-0 rounded overflow-hidden bg-transparent">
                <img class="card-img-top bg-light mb-3 border border-4" height="150" style="border-radius: 1rem;"
                    src="/images/card-thumbnails/2.avif" />
                <h4 class="card-title fw-bold">Import</h4>
                <p class="card-text">Grab all your existing testimonials from over 30 platforms or just drag in a CSV.
                    Once imported, Senja makes is simple to organize, tag, filter, and share them right away.</p>
            </div>
            <div class="card col-12 col-md-6 col-lg-3 border border-0 rounded overflow-hidden bg-transparent">
                <img class="card-img-top bg-light mb-3 border border-4" height="150" style="border-radius: 1rem;"
                    src="/images/card-thumbnails/3.avif" />
                <h4 class="card-title fw-bold">Collect</h4>
                <p class="card-text">Create and share testimonial forms in no time. Senja handles video and text
                    collection automatically, even transcribing videos you collect natively for easy review.</p>
            </div>
            <div class="card col-12 col-md-6 col-lg-3 border border-0 rounded overflow-hidden bg-transparent">
                <img class="card-img-top bg-light mb-3 border border-4" height="150" style="border-radius: 1rem;"
                    src="/images/card-thumbnails/4.avif" />
                <h4 class="card-title fw-bold">Manage & Analyze</h4>
                <p class="card-text">Tag and sort your testimonials by customer type, product, or sentiment. Use
                    Senja’s smart sentiment analysis to instantly spot what your customers love — and which products
                    or features they keep raving about.</p>
            </div>
            <div class="card col-12 col-md-6 col-lg-3 border border-0 rounded overflow-hidden bg-transparent">
                <img class="card-img-top bg-light mb-3 border border-4" height="150" style="border-radius: 1rem;"
                    src="/images/card-thumbnails/5.avif" />
                <h4 class="card-title fw-bold">Share</h4>
                <p class="card-text">Show off your testimonials anywhere — on your site, social media, or emails —
                    with customizable widgets and Walls of Love.</p>
            </div>
        </div>
    </section>

    {{> tools}}

    {{> testimonial}}
    
    <section class="container">
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <div class="h-100 bg-transparent" style="border-radius: 0.8rem;">
                    <div class="d-grid">
                        <h4 class="card-title mt-2 fs-2 fw-bold">“Less than a month into implementing Senja and <span
                                class="text-primary">I've already
                                seen a tangible impact on revenue and conversion</span> by sharing more social proof.”
                        </h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5 class="text-muted fw-normal">edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-grid">
                <h5 class="mt-4 mt-lg-auto">
                    Whether you're an author, podcaster, YouTuber,

                    or your own kind of niche creator — Senja is the

                    go-to tool for collecting, managing, and showing off your social proof to help you build trust and
                    grow your audience.
                </h5>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <img width="150" height="150" src="/images/icons/1.avif" />
                <h1 class="fw-bold mt-2">Sell a course?</h1>
                <div>
                    For course sales, social proof is everything. Senja makes it simple to collect video and text
                    testimonials from students. Share their feedback to show potential students what they’ll gain from
                    your course, helping you turn more leads into dedicated learners.
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                    <div class="card-body p-4 d-grid">
                        <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                            to get started with collecting reviews. We were able to import existing reviews as well,
                            which is such an important feature to have."</h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5>edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                    <div class="card-body p-4 d-grid">
                        <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                            to get started with collecting reviews. We were able to import existing reviews as well,
                            which is such an important feature to have."</h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5>edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img width="150" height="150" src="/images/icons/2.avif" />
                <h1 class="fw-bold mt-2">Sell a course?</h1>
                <div>
                    For course sales, social proof is everything. Senja makes it simple to collect video and text
                    testimonials from students. Share their feedback to show potential students what they’ll gain from
                    your course, helping you turn more leads into dedicated learners.
                </div>
            </div>
        </div>
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <img width="150" height="150" src="/images/icons/3.avif" />
                <h1 class="fw-bold mt-2">Sell a course?</h1>
                <div>
                    For course sales, social proof is everything. Senja makes it simple to collect video and text
                    testimonials from students. Share their feedback to show potential students what they’ll gain from
                    your course, helping you turn more leads into dedicated learners.
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                    <div class="card-body p-4 d-grid">
                        <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                            to get started with collecting reviews. We were able to import existing reviews as well,
                            which is such an important feature to have."</h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5>edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                    <div class="card-body p-4 d-grid">
                        <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                            to get started with collecting reviews. We were able to import existing reviews as well,
                            which is such an important feature to have."</h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5>edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img width="150" height="150" src="/images/icons/4.avif" />
                <h1 class="fw-bold mt-2">Sell a course?</h1>
                <div>
                    For course sales, social proof is everything. Senja makes it simple to collect video and text
                    testimonials from students. Share their feedback to show potential students what they’ll gain from
                    your course, helping you turn more leads into dedicated learners.
                </div>
            </div>
        </div>
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <img width="150" height="150" src="/images/icons/5.avif" />
                <h1 class="fw-bold mt-2">Sell a course?</h1>
                <div>
                    For course sales, social proof is everything. Senja makes it simple to collect video and text
                    testimonials from students. Share their feedback to show potential students what they’ll gain from
                    your course, helping you turn more leads into dedicated learners.
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                    <div class="card-body p-4 d-grid">
                        <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                            to get started with collecting reviews. We were able to import existing reviews as well,
                            which is such an important feature to have."</h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5>edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 gy-4">
            <div class="col-12 col-lg-6">
                <div class="card h-100 gradient-bg-primary border border-4" style="border-radius: 0.8rem;">
                    <div class="card-body p-4 d-grid">
                        <h4 class="card-title mt-2 fs-2">"The setup was incredibly simple. It took less than 5 minutes
                            to get started with collecting reviews. We were able to import existing reviews as well,
                            which is such an important feature to have."</h4>
                        <div class="d-flex align-items-center mt-3 me-auto">
                            <img class="bg-light border border-dark rounded-circle mx-auto" width="80" height="80"
                                src="/images/profile-pics/1.avif" />
                            <div class="ms-3">
                                <h5 class="fw-bold m-0">Ed Leake</h5>
                                <h5>edleake.com</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img width="150" height="150" src="/images/icons/6.avif" />
                <h1 class="fw-bold mt-2">Sell a course?</h1>
                <div>
                    For course sales, social proof is everything. Senja makes it simple to collect video and text
                    testimonials from students. Share their feedback to show potential students what they’ll gain from
                    your course, helping you turn more leads into dedicated learners.
                </div>
            </div>
        </div>
    </section>

    {{> gallery}}

    <section class="container-fluid d-grid justify-content-center mt-4 bg-primary py-5 pt-5" style="margin-bottom: 0;">
        <div class="card mb-3 overflow-hidden rounded-card container">
            <div class="row g-0">
                <div class="col-12 col-lg-6">
                    <div class="card-body h-100 d-grid justify-content-start px-5 py-5">
                        <h1 class="card-title fw-bold text-primary">“This app is changing
                            the game on getting social proof and making it so effortless.”</h1>
                        <p class="card-text fs-5 text-secondary">
                            This is a wider card with supporting text below as a
                            natural lead-in to additional content. This content is a
                            little bit longer.
                        </p>

                        <ul class="tick-list">
                            <li class="mb-2">Import testimonials from over 30 platforms</li>
                            <li class="mb-2">Collect text & video testimonials on autopilot</li>
                            <li class="mb-2">Showcase proof on your site, emails, & socials</li>
                        </ul>

                        <div class="btn gradient-bg-primary p-3 px-4 fw-bold fs-4 border border-3 mt-auto me-auto"
                            style="border-radius: 1rem;">
                            Start For Free Today
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="/images/card-thumbnails/1.avif" alt="Card title" class="w-100" />
                </div>
            </div>
        </div>
    </section>

    {{> footer}}

    <script src="/js/plugins/bootstrap.min.js" defer></script>
    <script src="/js/main.js" defer></script>
</body>



</html>