.btn-primary {
    background-color: #4335b2;
}

.btn-primary:hover {
    background-color: #4335b2;
}

.bg-primary {
    background-color: #4335b2 !important;
}

body.dark-version {
    background-color: #19143f;
}

.rounded-card {
    border-radius: 3rem;
}

.nav-link {
    color: white;
}

section {
    margin: 100px 0;
}

a {
    text-decoration: none;
}

.footer-menu {
    list-style-type: none;
    text-align: left;
}

.footer-menu a {
    color: gray;
}